gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
**/*.p12
# create_upload_keystore.sh 가 내보낸 업로드 인증서(공개); 저장소에 올리지 마세요.
**/*_certificate.pem
