<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhpXBsNjudy95k0Co2voQD1w2Pub4URgI</string>
	<key>GCM_SENDER_ID</key>
	<string>112030896352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wearegoodwill.laon</string>
	<key>PROJECT_ID</key>
	<string>dk-project-d82af</string>
	<key>STORAGE_BUCKET</key>
	<string>dk-project-d82af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112030896352:ios:88e086b882679e27108085</string>
</dict>
</plist>